{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Athena - Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static '/styles/athena-in-style.css' %}">
</head>
<body>
    <div class="header-container">
        <header>
            <figure class="logo-container">
            <img src="{% static '/images/athena-logo.png' %}" alt="Athena Logo">
            <span class="menu-btn"><i class="fa-solid fa-bars"></i></span>
            </figure>
            <span class="welcome">Bienvenido, <strong>{{ request.user.first_name }}</strong></span>
        </header>
    </div>
    <div class="menu-container hidden">
        <nav class="menu-body">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Calendario</a></li>
                <li><a href="#">Evaluaciones</a></li>
                <li><a href="#">Bibilioteca</a></li>
                <li><a href="{% url 'logout' %}?next=/athena">Salir</a></li>
            </ul>
        </nav>
    </div>
    <div class="main-home-container">
        <div class="column" id="subjects">
        {% for user_subject in user_subjects %}
            <div class="subject-card">
                <h4>{{ user_subject.subject.name }}</h4>
                <div class="card-body">
                    <div class="progress-container">
                        <span class="progress-value">{{ user_subject.completion|floatformat:"0" }}%</span>
                        <div class="progress-bar">
                            <div class="progress" val="{{ user_subject.completion|floatformat:"0" }}" style="width: {{ user_subject.completion }}%;"></div>
                        </div>
                    </div>
                    <span class="grade">{{ user_subject.grade|floatformat:"1" }}</span>
                </div>
            </div>     
            {% endfor %}       
        </div>
        <div class="column" id="dates">
            <div class="calendar-container">
                <h4>Abril</h4>
                <div class="calendar">
                    <div class="day header">D</div>
                    <div class="day header">L</div>
                    <div class="day header">M</div>
                    <div class="day header">M</div>
                    <div class="day header">J</div>
                    <div class="day header">V</div>
                    <div class="day header">S</div>
                
                    <!-- Días del mes de abril -->
                    <div class="day"></div>
                    <div class="day"></div>
                    <div class="day"></div>
                    <div class="day">1</div>
                    <div class="day">2</div>
                    <div class="day">3</div>
                    <div class="day">4</div>
                    <div class="day">5</div>
                    <div class="day">6</div>
                    <div class="day">7</div>
                    <div class="day">8</div>
                    <div class="day">9</div>
                    <div class="day">10</div>
                    <div class="day">11</div>
                    <div class="day">12</div>
                    <div class="day">13</div>
                    <div class="day">14</div>
                    <div class="day">15</div>
                    <div class="day">16</div>
                    <div class="day booked">17</div>
                    <div class="day">18</div>
                    <div class="day">19</div>
                    <div class="day">20</div>
                    <div class="day booked">21</div>
                    <div class="day booked">22</div>
                    <div class="day">23</div>
                    <div class="day">24</div>
                    <div class="day">25</div>
                    <div class="day booked">26</div>
                    <div class="day">27</div>
                    <div class="day">28</div>
                    <div class="day">29</div>
                    <div class="day">30</div>
                </div>
            </div>
            <div class="schedule-container">
                <div class="date-container">
                    <span class="date">Abril 21</span>
                    <div class="activities-container">
                        <span>MB: Actividad 3</span>
                        <span>EP: Actividad 3</span>
                    </div>
                </div>
                <div class="date-container">
                    <span class="date">Abril 22</span>
                    <div class="activities-container">
                        <span>IW: Evaluación 1</span>
                        <span>PE: Actividad 2</span>
                        <span>P: Evaluación 1</span>
                    </div>
                </div>
                <div class="view-all">
                    <a href="#" class="btn">Ver todo</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="inbox-container">
                <h4>Bandeja de entrada</h4>
                <div class="message-container">
                    <div class="message">
                        <span class="date">2 de abr de 2024</span>
                        <span class="involved">JuanPa Medina Bernal, Javier Dario Belal...</span>
                        <span class="subject">Ampliación de fechas de entrega</span>
                        <span class="excerpt">Muchas gracias, profesor Javier. Allí no...</span>
                    </div>
                    
                    <div class="message">
                        <span class="date">22 de dic de 2023</span>
                        <span class="involved">JuanPa Medina Bernal, Hernan Dario Cruz ...</span>
                        <span class="subject">Solicitud de extensión de plazo</span>
                        <span class="excerpt">Buenas noches, profesor. Gracias por su...</span>
                    </div>
                    
                    <div class="message">
                        <span class="date">23 de dic de 2023</span>
                        <span class="involved">JuanPa Medina Bernal, Olga Lucía Roa Boh...</span>
                        <span class="subject">Solicitud de extensión de plazo</span>
                        <span class="excerpt">Buenas tardes, profesora Olga. ¿Existe ...</span>
                    </div>
                    
                    <div class="message">
                        <span class="date">21 de nov de 2023</span>
                        <span class="involved">Juan Carlos Rodríguez Rodriguez, JuanPa ...</span>
                        <span class="subject">SEGUIMIENTO ACADÉMICO INGLÉS</span>
                        <span class="excerpt">Apreciado estudiante, He realizado un ...</span>
                    </div>
                    
                    <div class="message">
                        <span class="date">18 de oct de 2023</span>
                        <span class="involved">Osorio Torres Robert, JuanPa Medina Bern...</span>
                        <span class="subject">Solicitud de Plazo</span>
                        <span class="excerpt">Cordial saludo. Actividad disponible pa...</span>
                    </div>                    
                </div>
                <div class="view-all">
                    <a href="#" class="btn">Ver todo</a>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static '/scripts/actions.js' %}"></script>

</body>
</html>