{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Athena - Login</title>
    <link rel="stylesheet" href="{% static '/styles/athena-start-style.css' %}">
</head>
<body>
    <div class="main-home-container">
        <section class="login-container">
            <figure class="logo-container">
                <img src="{% static '/images/athena-logo.png' %}" alt="Athena Logo">
            </figure>
            <section class="form-container">
                <form action="">
                    <input type="text" name="username" id="username" placeholder="email">
                    <input type="password" name="password" id="password" placeholder="contraseña">
                    <button type="submit">Login</button>
                </form>
            </section>
            <div class="passreset">
                <a href="#">Olvidé mi contraseña</a>
            </div>
        </section>
    </div>
</body>
</html>